/* ----------------- Reset styles --------------------- */
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/* ------------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* ----------------------- HEADER ------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.part-logo {
  color: #2e2f42;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.link-studio {
  color: #404bbf;
}

.link-studio::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  display: block;
}

.contact {
  font-style: normal;
  padding-left: 332px;
}

.contact-list {
  display: flex;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* -------------------- HERO -----------------------*/

.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section1/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -------------------- DESC --------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desc-list {
  display: flex;
  gap: 24px;
}

.desc-item {
  max-width: 264px;
}

.box-desc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.desc-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.desc-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------- TEAM --------------------- */

.section-team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* ------------------- PORTFOLIO -----------------*/

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 48px 24px;
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.overlay-porfolio {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------------- FOOTER ------------------ */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-box-text {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-subtitle {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
